.kaleidoscope
  = link_to image_tag("kldskp.svg", id: 'logo'), "https://www.facebook.com/kldskp.de", target: '_blank'
  = link_to image_tag("kaleidoskop-typo.svg", id: 'typo'), "https://www.facebook.com/kldskp.de", target: '_blank'

