$logo-size: 250
$typo-size: 600

body
    background-color: #111
    font-family: sans-serif
    font-size: 10pt
    margin: 0
    overflow: hidden
    padding: 0

#logo
    height: #{$logo-size}px
    left: 50%
    margin: -#{$logo-size/2}px 0 0 -#{$logo-size/2}px
    opacity: .3
    position: fixed
    top: 50%
    transition: 500ms opacity ease-in-out
    width: #{$logo-size}px
    z-index: 1

    &:hover
        opacity: 1

#typo
    left: 50%
    margin: -240px 0 0 -#{$typo-size/2}px
    opacity: .3
    position: fixed
    top: 50%
    transition: 500ms opacity ease-in-out
    width: #{$typo-size}px
    z-index: 1

    &:hover
        opacity: 1


.kaleidoscope
    height: 100%
    width: 100%

    .tile
        display: none
        height: 100%
        left: 0
        overflow: hidden
        position: absolute
        top: 50%
        transform-origin: right top
        width: 50%
        z-index: 0

    .image
        background-image: image-url("darkness.jpg")
        height: 100%
        left: 100%
        position: relative
        top: 0
        transform-origin: left top
        width: 100%


    $max_segments: 32
    $segments: 0

    @while $segments <= $max_segments
        $step: 360deg / ($segments * 2)
        $angle: 30 - $step
        $i: 0

        &.n#{$segments}
            .tile
                display: block

                @while $i < $segments * 2
                    &.t#{$i}
                        transform: rotate($angle + $step)

                    &.t#{$i + 1}
                        transform: scale(-1, 1) rotate($angle + $step)

                    $angle: $angle + $step * 2
                    $i: $i + 2

                .image
                    transform: rotate($step)

        $segments: $segments + 1

    .t12 .image
        transform: rotate(0) !important

nav
    color: #666
    cursor: pointer
    font-family: Helvetica
    left: 0
    position: absolute
    text-decoration: none
    top: 0
    z-index: 1

    a
        color: #666
        text-decoration: none

    & > *
        background-color: #eee
        float: left
        opacity: 0.8
        padding: 0.6em

    &:hover
        opacity: 0.9

    &:nth-child(n + 2)
        border-left: 1px solid #666

    &:first-child
        border-bottom-left-radius: 0.6em

    &:last-child
        border-bottom-right-radius: 0.6em
